In [120]:
import os
import pandas as pd
from pandas.io.json import json_normalize
import json
from itertools import chain
from collections import Counter

In [121]:
with open("mongo_data_loterias.json", "r") as f:
  data_json = json.loads(f.read())

df_init = pd.DataFrame(data_json).drop("_class", axis=1)
df_init.head()

,_id,nome,data,local,dezenas,premiacoes,estadosPremiados,acumulou,acumuladaProxConcurso,dataProxConcurso
0,"{'loteria': 'super-sete', 'concurso': 1}",Super Sete,02/10/2020,Sorteio realizado Espaço Loterias CAIXA em SAO...,"[2, 9, 9, 8, 7, 7, 6]","[{'acertos': '7 Pontos', 'vencedores': 0, 'pre...",[],True,,
1,"{'loteria': 'super-sete', 'concurso': 2}",Super Sete,05/10/2020,"Espaço Loterias CAIXA em SAO PAULO, SP","[8, 8, 1, 5, 6, 7, 7]","[{'acertos': '7 Pontos', 'vencedores': 0, 'pre...",[],True,,
2,"{'loteria': 'super-sete', 'concurso': 3}",Super Sete,07/10/2020,"Espaço Loterias CAIXA em SAO PAULO, SP","[7, 2, 6, 6, 5, 4, 4]","[{'acertos': '7 Pontos', 'vencedores': 1, 'pre...","[{'nome': 'Bahia', 'uf': 'BA', 'vencedores': '...",False,,
3,"{'loteria': 'super-sete', 'concurso': 4}",Super Sete,09/10/2020,"Espaço Loterias CAIXA em SAO PAULO, SP","[5, 7, 8, 1, 8, 2, 5]","[{'acertos': '7 Pontos', 'vencedores': 0, 'pre...",[],True,,
4,"{'loteria': 'super-sete', 'concurso': 5}",Super Sete,14/10/2020,"Espaço Loterias CAIXA em SAO PAULO, SP","[6, 4, 0, 1, 0, 6, 9]","[{'acertos': '7 Pontos', 'vencedores': 0, 'pre...",[],True,,

In [122]:
df_pre_dezenas = df_init
s = pd.Series(df_pre_dezenas['dezenas'])
df_pre_dezenas['dezenas'] = s.str.join('-')

x = df_pre_dezenas['dezenas']
df_freq = pd.Series(Counter(chain.from_iterable(x.split('-') for x in df_pre_dezenas.dezenas)))
df_freq

2    249
9    274
8    236
7    261
6    255
1    242
5    237
4    234
0    246
3    244
dtype: int64

In [123]:
df_perc = df_freq/df_freq.sum() * 100
df_perc.sort_index()

0     9.927361
1     9.765940
2    10.048426
3     9.846651
4     9.443099
5     9.564165
6    10.290557
7    10.532688
8     9.523810
9    11.057304
dtype: float64

In [125]:
df_pre_normalize = pd.DataFrame(data_json)
df_pre_normalize.to_dict("recors")
meta_cols = [col for col in df_pre_normalize.columns if type(df_pre_normalize.loc[0, col]) != list ] + list_cols[i+1:]
df_normalize = json_normalize(data=json_data, record_path=col, meta=meta_cols, record_prefix=col+str('_'), sep=',', errors='ignore').drop("_class", axis=1)
df_normalize.head(20)

/tmp/ipykernel_703557/2718946740.py:2: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  df_pre_normalize.to_dict("recors")
/tmp/ipykernel_703557/2718946740.py:4: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  df_normalize = json_normalize(data=json_data, record_path=col, meta=meta_cols, record_prefix=col+str('_'), sep=',', errors='ignore').drop("_class", axis=1)

,estadosPremiados_nome,estadosPremiados_uf,estadosPremiados_vencedores,estadosPremiados_latitude,estadosPremiados_longitude,estadosPremiados_cidades,_id,nome,data,local,acumulou,acumuladaProxConcurso,dataProxConcurso
0,Bahia,BA,1,-12.579738,-41.7007272,NaN,"{'loteria': 'super-sete', 'concurso': 3}",Super Sete,07/10/2020,"Espaço Loterias CAIXA em SAO PAULO, SP",False,,
1,Bahia,BA,1,-12.579738,-41.7007272,NaN,"{'loteria': 'super-sete', 'concurso': 3}",Super Sete,07/10/2020,"Espaço Loterias CAIXA em SAO PAULO, SP",False,,
2,Bahia,BA,1,-12.579738,-41.7007272,NaN,"{'loteria': 'super-sete', 'concurso': 3}",Super Sete,07/10/2020,"Espaço Loterias CAIXA em SAO PAULO, SP",False,,
3,Bahia,BA,1,-12.579738,-41.7007272,NaN,"{'loteria': 'super-sete', 'concurso': 3}",Super Sete,07/10/2020,"Espaço Loterias CAIXA em SAO PAULO, SP",False,,
4,Bahia,BA,1,-12.579738,-41.7007272,NaN,"{'loteria': 'super-sete', 'concurso': 3}",Super Sete,07/10/2020,"Espaço Loterias CAIXA em SAO PAULO, SP",False,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,Goiás,GO,1,36.7156122,-95.9435511,"[{'cidade': 'Goiânia', 'vencedores': '1', 'lat...","{'loteria': 'super-sete', 'concurso': 342}",Super Sete,06/01/2023,"EspaçodaSorte em SAOPAULO,SP",False,,
91,Goiás,GO,1,36.7156122,-95.9435511,"[{'cidade': 'Goiânia', 'vencedores': '1', 'lat...","{'loteria': 'super-sete', 'concurso': 342}",Super Sete,06/01/2023,"EspaçodaSorte em SAOPAULO,SP",False,,
92,Goiás,GO,1,36.7156122,-95.9435511,"[{'cidade': 'Goiânia', 'vencedores': '1', 'lat...","{'loteria': 'super-sete', 'concurso': 342}",Super Sete,06/01/2023,"EspaçodaSorte em SAOPAULO,SP",False,,
93,Goiás,GO,1,36.7156122,-95.9435511,"[{'cidade': 'Goiânia', 'vencedores': '1', 'lat...","{'loteria': 'super-sete', 'concurso': 342}",Super Sete,06/01/2023,"EspaçodaSorte em SAOPAULO,SP",False,,
94,Goiás,GO,1,36.7156122,-95.9435511,"[{'cidade': 'Goiânia', 'vencedores': '1', 'lat...","{'loteria': 'super-sete', 'concurso': 342}",Super Sete,06/01/2023,"EspaçodaSorte em SAOPAULO,SP",False,,