# PyMongoArrow: Bridging the Gap Between MongoDB and Your Data Analysis App

The code in this notebook requires you to have created a MongoDB Atlas cluster, with the sample datasets loaded. You will then need to set a `MDB_URI` environment variable with the URI of your cluster before starting Jupyter Notebook to run this.

## Getting Set Up:

In [79]:
# Install the dependencies for the code in the later code blocks:

import sys
!{sys.executable} -m pip install pymongo[srv]==3.12 pymongoarrow==0.1.1 pandas==1.3.3 numpy==1.21.2

Requirement already satisfied: pymongo[srv]==3.12 in /home/rhel9dev/miniconda3/envs/caixa-loterias-api-mongodb/lib/python3.8/site-packages (3.12.0)
Requirement already satisfied: pymongoarrow==0.1.1 in /home/rhel9dev/miniconda3/envs/caixa-loterias-api-mongodb/lib/python3.8/site-packages (0.1.1)
Requirement already satisfied: pandas==1.3.3 in /home/rhel9dev/miniconda3/envs/caixa-loterias-api-mongodb/lib/python3.8/site-packages (1.3.3)
Requirement already satisfied: numpy==1.21.2 in /home/rhel9dev/miniconda3/envs/caixa-loterias-api-mongodb/lib/python3.8/site-packages (1.21.2)
Requirement already satisfied: dnspython<2.0.0,>=1.16.0 in /home/rhel9dev/miniconda3/envs/caixa-loterias-api-mongodb/lib/python3.8/site-packages (from pymongo[srv]==3.12) (1.16.0)
Requirement already satisfied: pyarrow<3.1,>=3 in /home/rhel9dev/miniconda3/envs/caixa-loterias-api-mongodb/lib/python3.8/site-packages (from pymongoarrow==0.1.1) (3.0.0)
Requirement already satisfied: pytz>=2017.3 in /home/rhel9dev/miniconda3/envs/caixa-loterias-api-mongodb/lib/python3.8/site-packages (from pandas==1.3.3) (2022.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/rhel9dev/miniconda3/envs/caixa-loterias-api-mongodb/lib/python3.8/site-packages (from pandas==1.3.3) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/rhel9dev/miniconda3/envs/caixa-loterias-api-mongodb/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas==1.3.3) (1.16.0)

In [89]:
import os
import json
import numpy as np
import os
import pyarrow
import pymongo
import bson
import pymongoarrow.monkey
from pymongoarrow.api import Schema
import pandas as pd

os.system('export MDB_URI=mongodb://localhost:27017/loterias')
os.environ['MDB_URI']='mongodb://localhost:27017/loterias'

In [90]:

MDB_URI = os.environ['MDB_URI']

pymongoarrow.monkey.patch_all()

client = pymongo.MongoClient(MDB_URI)
database = client.get_database("loterias")
collection = database.get_collection("resultados")

In [91]:
list_json = list(collection.find({"$or":[ {"nome": "Super Sete"}, {"nome": "Mega Sena"} ]}))

with open('mongo_data_loterias.json', 'w') as f:
  json.dump(list_json, f)

In [92]:
list_data = list(collection.aggregate([
    {'$match': {'nome': 'Super Sete'}},
    {'$project': {
        'dezenas': '$dezenas',
        'premiacoes': '$premiacoes',
    }}
]))


df_init = pd.DataFrame(list_data)
df_init.to_csv("mongo_data_loterias.csv")
df_init.head(20)

,_id,dezenas,premiacoes
0,"{'loteria': 'super-sete', 'concurso': 1}","[2, 9, 9, 8, 7, 7, 6]","[{'acertos': '7 Pontos', 'vencedores': 0, 'pre..."
1,"{'loteria': 'super-sete', 'concurso': 2}","[8, 8, 1, 5, 6, 7, 7]","[{'acertos': '7 Pontos', 'vencedores': 0, 'pre..."
2,"{'loteria': 'super-sete', 'concurso': 3}","[7, 2, 6, 6, 5, 4, 4]","[{'acertos': '7 Pontos', 'vencedores': 1, 'pre..."
3,"{'loteria': 'super-sete', 'concurso': 4}","[5, 7, 8, 1, 8, 2, 5]","[{'acertos': '7 Pontos', 'vencedores': 0, 'pre..."
4,"{'loteria': 'super-sete', 'concurso': 5}","[6, 4, 0, 1, 0, 6, 9]","[{'acertos': '7 Pontos', 'vencedores': 0, 'pre..."
5,"{'loteria': 'super-sete', 'concurso': 6}","[5, 7, 3, 3, 4, 1, 1]","[{'acertos': '7 Pontos', 'vencedores': 0, 'pre..."
6,"{'loteria': 'super-sete', 'concurso': 7}","[0, 7, 7, 6, 4, 4, 9]","[{'acertos': '7 Pontos', 'vencedores': 0, 'pre..."
7,"{'loteria': 'super-sete', 'concurso': 8}","[7, 0, 9, 2, 0, 2, 5]","[{'acertos': '7 Pontos', 'vencedores': 0, 'pre..."
8,"{'loteria': 'super-sete', 'concurso': 9}","[8, 6, 2, 0, 2, 6, 7]","[{'acertos': '7 Pontos', 'vencedores': 0, 'pre..."
9,"{'loteria': 'super-sete', 'concurso': 10}","[8, 9, 9, 2, 9, 6, 5]","[{'acertos': '7 Pontos', 'vencedores': 0, 'pre..."
10,"{'loteria': 'super-sete', 'concurso': 11}","[6, 0, 7, 5, 6, 0, 9]","[{'acertos': '7 Pontos', 'vencedores': 0, 'pre..."
11,"{'loteria': 'super-sete', 'concurso': 12}","[3, 0, 3, 2, 8, 9, 0]","[{'acertos': '7 Pontos', 'vencedores': 0, 'pre..."
12,"{'loteria': 'super-sete', 'concurso': 13}","[3, 9, 9, 7, 4, 6, 0]","[{'acertos': '7 Pontos', 'vencedores': 0, 'pre..."
13,"{'loteria': 'super-sete', 'concurso': 14}","[7, 4, 0, 9, 4, 7, 4]","[{'acertos': '7 Pontos', 'vencedores': 0, 'pre..."
14,"{'loteria': 'super-sete', 'concurso': 15}","[3, 6, 8, 1, 7, 9, 9]","[{'acertos': '7 Pontos', 'vencedores': 0, 'pre..."
15,"{'loteria': 'super-sete', 'concurso': 16}","[5, 7, 2, 6, 9, 4, 4]","[{'acertos': '7 Pontos', 'vencedores': 0, 'pre..."
16,"{'loteria': 'super-sete', 'concurso': 17}","[3, 8, 2, 3, 5, 8, 6]","[{'acertos': '7 Pontos', 'vencedores': 0, 'pre..."
17,"{'loteria': 'super-sete', 'concurso': 18}","[3, 8, 2, 4, 8, 6, 8]","[{'acertos': '7 Pontos', 'vencedores': 0, 'pre..."
18,"{'loteria': 'super-sete', 'concurso': 19}","[0, 0, 0, 1, 4, 3, 3]","[{'acertos': '7 Pontos', 'vencedores': 1, 'pre..."
19,"{'loteria': 'super-sete', 'concurso': 20}","[4, 9, 3, 9, 8, 1, 3]","[{'acertos': '7 Pontos', 'vencedores': 0, 'pre..."